
<!--default template for a plog-->
<head>
    <link rel="stylesheet" type="text/css" href="theme.css">
</head>
<table id='cat_table'>
    <tr>
        <th id='cat_header_title' class='cat_header'>
            Title
        </th>
        <th id='cat_header_date' class='cat_header'>
            Date
        </th>
        <th id='cat_header_location' class='cat_header'>
            Location
        </th>
        <th id='cat_header_entry' class='cat_header'>
            ID#
        </th>
    </tr>
    {items}
</table>
