
<!--default template for a plog-->
        <head>
        <link rel="stylesheet" type="text/css" href="theme.css">
        </head>
        <table id='plog_table'>
        <tr>
            <th id='category_header'>
            Category:
            </th>
            <td id='category_value'>
            {cat}
            </td>
        </tr>
        <tr>
            <th id='date_header'>
            Date:
            </th>
            <td id='date_value'>
            {date}
            </td>
        </tr>
        <tr>
            <th id='title_header'>
            Title:
            </th>
            <td id='title_value'>
            {title}
            </td>
        </tr>
        <tr>
            <th id='msg_header'>
            Log:
            </th>
            <td id='msg_value'>
            {msg}
            </td>
        </tr>
        </table>
